:root {
    --game-backround: url(/public/bg.jpg);
    --board-background: url(/public/wood-texture.jpg);
    --brown1: rgb(122, 80, 65);
    --brown2: rgb(165, 110, 85);
    --light-text: #f0e6d2;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--game-backround);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "IM Fell English", serif;
}

h2 {
    font-size: 2rem;
}

button {
    background-color: var(--brown1);
    color: var(--light-text);
    cursor: pointer;
    font-family: "IM Fell English", serif;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--brown2);
}