html,
body {
    margin: 0;
    padding: 0;
    background: url(/public/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "IM Fell English", serif;
}

h2 {
    font-size: 2rem;
}

button {
    background-color: rgb(122, 80, 65);
    color: #fff;
    cursor: pointer;
    font-family: "IM Fell English", serif;
}

button:hover {
    background-color: rgb(165, 110, 85);
}